@font-face{
	font-family: "AwesomeFont_400";
	src:url("/resources/fonts/fa-brands-400.ttf");
}
@font-face{
	font-family: "LatoBold";
	src:url("/resources/fonts/Lato Bold.ttf");
}
@font-face{
	font-family: "LatoRegular";
	src:url("/resources/fonts/Lato Regular.ttf");
}

@font-face{
	font-family: "MerriweatherRegular";
	src:url("/resources/fonts/Merriweather Regular.ttf");
}
@font-face{
	font-family: "MerriweatherBold";
	src:url("/resources/fonts/Merriweather Bold.ttf");
}

.font-LatoBold{
	font-family: LatoBold
}
.font-LatoRegular{
	font-family: LatoRegular
}
.font-Awesome{
	font-family: AwesomeFont_400;
}
.font-MerriweatherRegular{
	font-family: MerriweatherRegular;
}
.font-MerriweatherBold{
	font-family: MerriweatherBold;
}

*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
}


.wrapper-main{
	width:100%;
}

.main{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.wrapper-main__main{
	max-width:1140px;
	width:100%;
	margin:auto;
}

.product-header{
	width:100%;
	height:113px;
	display:flex;
	flex-direction: column;
	justify-content: center
}

.main__product-header{
	width:100%;
	height:113px;
}

.product-header__product-name{
	font-size:27px;
	text-align: center;
}
.product-header__product-category{
	font-size:15px;
	text-align: center;
}

.main__about{
	min-width: 400px;
	flex-grow: 1;
	flex-basis: 0;
}

.image-section{
	display:flex;
	flex-wrap: wrap;
}

.main__image-section{
	width:49%;
	min-width: 400px;
	margin-bottom: 25px;
}

.image-section__picture{
	width:100px;
	height:120px;
	margin:7px;
	background:grey;
}

.image-section__picture_big{
	width:100%;
	height:660px;
}

.about{

}

.main__about{
	width:49%;
	min-width: 400px;
}

.about__section{
	margin:20px 0;
}

.about__section_description{

}

.about__section_product-detail{

}

.about__section_recommended-products{

}

.section__title{
	font-size:15px;
	padding:13px 0;
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 10px;
}

.section__title_big{
	font-size:25px;
}

.section__text{
	font-size:13px;
}

.action-buttons{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about__action-buttons{

}

.action-buttons__button{
	display:inline-block;
	width:200px;
	height:45px;
	line-height: 45px;
	text-align: center;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
}

.action-buttons__button_buy{
	background: #ffab00;
	color:white;
	border:2px solid #ffab00;
}

.action-buttons__button_add-cart{
	color:black;
	border:2px solid black;
	background:url("/resources/img/bag_img.png") no-repeat 90%;
	background-size:27px;
}


.comment-section{
	
}

.main__comment-section{
	width:60%;
	min-width: 400px;
}

.comment-section__comments-amount{
	text-align: left;
	font-size:20px;
	padding:10px 0;
	margin-bottom: 5px;
	border-bottom: 1px solid #bfbfbf;
}

.comment-form{
	display:flex;
	flex-direction: column;
}

.comment-section__comment-form{
	width:100%;
	box-sizing: border-box;
	padding:20px;
}

.comment-form__title{
	display:block;
	text-align: left;
	font-size:15px;
	margin:10px 0;
}

.comment-form__textarea{
	width:100%;
	display:block;
	margin-bottom: 10px;

	background:#f5f5f5;
	border:1px solid #bfbfbf;
	resize:none;
	border-radius: 5px;
}

.comment-form__post-comment{
	width:125px;
	height:30px;
	align-self: flex-end;
}

.comment-section__single-comment{
	padding:30px 0;
	border-bottom: 1px solid #bfbfbf;
}

.recommended-products__wrapper{
	display:flex;
}
