@font-face{
	font-family: "AwesomeFont_400";
	src:url("/resources/fonts/fa-brands-400.ttf");
}
@font-face{
	font-family: "LatoBold";
	src:url("/resources/fonts/Lato Bold.ttf");
}
@font-face{
	font-family: "LatoRegular";
	src:url("/resources/fonts/Lato Regular.ttf");
}

@font-face{
	font-family: "MerriweatherRegular";
	src:url("/resources/fonts/Merriweather Regular.ttf");
}

.font-LatoBold{
	font-family: LatoBold
}
.font-LatoRegular{
	font-family: LatoRegular
}
.font-Awesome{
	font-family: AwesomeFont_400;
}
.font-MerriweatherRegular{
	font-family: MerriweatherRegular;
}

*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
}

.wrapper-main{
	width:100%;
}

.main{
	display:flex;
}

.wrapper-main__main{
	max-width:1140px;
	width:100%;
	margin:auto;
	margin-bottom:40px;
}

.filters-section{
	height:200px;
}

.main__filters-section{
	flex-grow: 1;
	flex-basis: 0;
	margin-top:40px;
	padding-right: 10px;
}

.filters-section__header-title{
	font-size:15px;
	border-bottom: 1px solid #bfbfbf;
}

.filters-section__search-button{
	width:100%;
	height:40px;
	color:white;
	background:#4b8cb9;
	border:none;
}

.sort-selector{
	display:flex;
	align-items:center;
	padding: 10px 0;
}

.filters-section__sort-selector{
	width:100%;
}

.sort-selector__sort-title{
	font-size:15px;
	text-align: left;
	flex-grow:1;
}

.sort-selector__sort-select{
	font-size:15px;
	height:40px;
	padding:0 15px;
	border:1px solid black;
	flex-grow: 2.5;
}

.filters-section__filters-item{
	border-bottom: 1px solid #bfbfbf;
}

.products-section{
	border-bottom:1px solid #bfbfbf;
}

.main__products-section{
	flex-grow:3;
	flex-basis: 0;
}

.products-nav{
	display:flex;
	align-items: center;
}

.products-section__products-nav{
	width:100%;
	height:60px;
	border-bottom:1px solid #bfbfbf;
	box-sizing: border-box;
	padding-left: 17px;
}

.products-nav__found-products{
	font-size:20px;
	text-align: left;
	flex-grow: 10;
}

.products-nav__products-pages{
	text-align: center;
	flex-grow: 2;
}

.products-list{
	width:860px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.main__products-list{
	width:100%;
}

.products-list__product{
	flex-grow:1;
	flex-basis: 200px;
	max-width: 30%;
}

.pages-controller{
	display:flex;
	align-items: center;
}

.products-section__pages-controller{
	width:100%;
	padding:17px;
	box-sizing: border-box;
}

.pages-controller__previous-page{
	display:inline-block;
	padding-left:20px;
	font-size: 15px;
	text-decoration: none;
	color:black;

	background: url("/resources/img/arrow-left.png") no-repeat left;
	background-size: contain;
}

.pages-controller__products-pages{
	text-align: center;
	flex-grow:1;
}

.pages-controller__next-page{
	display:inline-block;
	padding-right:20px;
	font-size: 15px;
	text-decoration: none;
	color:black;

	background: url("/resources/img/arrow-right.png") no-repeat right;
	background-size: contain;
}