@font-face{
	font-family: "AwesomeFont_400";
	src:url("/resources/fonts/fa-brands-400.ttf");
}
@font-face{
	font-family: "LatoBold";
	src:url("/resources/fonts/Lato Bold.ttf");
}
@font-face{
	font-family: "LatoRegular";
	src:url("/resources/fonts/Lato Regular.ttf");
}

@font-face{
	font-family: "MerriweatherRegular";
	src:url("/resources/fonts/Merriweather Regular.ttf");
}

.font-LatoBold{
	font-family: LatoBold
}
.font-LatoRegular{
	font-family: LatoRegular
}
.font-Awesome{
	font-family: AwesomeFont_400;
}
.font-MerriweatherRegular{
	font-family: MerriweatherRegular;
}

*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
}

.wrapper-main{
	width:100%;
}

.main{
	display:flex;
}

.wrapper-main__main{
	max-width:1140px;
	width:100%;
	margin:auto;
	margin-bottom:40px;
}

.filters-section{
	height:200px;
}

.main__filters-section{
	flex-grow: 1;
	flex-basis: 0;
	margin-top:40px;
	padding-right: 10px;
}

.filters-section__header-title{
	font-size:15px;
	border-bottom: 1px solid #bfbfbf;
}

.filters-item{

}

.filters-section__filters-item{
	border-bottom: 1px solid #bfbfbf;
}

.filters-item__title{
	font-size:15px;
	text-decoration: none;
	color:black;
	display:block;
	height:40px;
	line-height: 40px;

	cursor: pointer;

	background: url("/resources/img/arrow-down.png") no-repeat 95%;
	background-size:20px;
}

.filters-item__title_expanded{
	background-image: url("/resources/img/arrow-up.png");
}

.filters-item__checkbox-box{
	padding-left:20px;
	overflow:hidden;
	max-height:0px;

	transition: max-height .7s ease;
}

.filters-item__checkbox-box_expanded{
	max-height:200px;
}

.filters-item__checkbox-wrapper{
	margin:10px 0;
}

.products-section{
	border-bottom:1px solid #bfbfbf;
}

.main__products-section{
	flex-grow:3;
	flex-basis: 0;
}

.products-nav{
	display:flex;
	align-items: center;
}

.products-section__products-nav{
	width:100%;
	height:60px;
	border-bottom:1px solid #bfbfbf;
	box-sizing: border-box;
	padding-left: 17px;
}

.products-nav__found-products{
	font-size:20px;
	text-align: left;
	flex-grow: 10;
}

.products-nav__sort-title{
	font-size:15px;
	text-align: left;
	flex-grow:1;
}

.products-nav__sort-select{
	font-size:15px;
	height:40px;
	padding:0 15px;
	border:1px solid black;
	flex-grow: 2.5;
}

.products-pages{
	list-style-type: none;
}

.products-nav__products-pages{
	text-align: center;
	flex-grow: 2;
}

.products-pages__item{
	display:inline-block;
}
.products-pages__link{
	display:inline-block;
	font-size:15px;
	text-decoration: none;
	color:black;
	height:26px;
	width:26px;
	line-height: 26px;
	text-align: center;
	border-radius: 100px;
}

.products-pages__link_selected{
	background: #e0e0e0;
}

.products-list{
	width:860px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.main__products-list{
	width:100%;
}

.product{
	width:290px;
	height:400px;
	padding:15px;
	background-clip:content-box;
}

.products-list__product{
	flex-grow:1;
	flex-basis: 200px;
	max-width: 30%;
}

.product:hover{
	border:1px solid #ffab00;
}

.product:hover .product__buy-link{
	bottom:10px;
}

.product__look{
	height:315px;
	width:100%;
	position:relative;
	background:#efefef;
	overflow-y: hidden;
}

.product__price{
	position:absolute;
	bottom:10px;
	left:10px;

	padding:10px 18px;
	background:#333333;
	font-size:15px;
	color:white;
	border-radius: 3px;

}

.product__buy-link{
	position:absolute;
	bottom:-50px;               /*WORKS ONLY IN COMPUTER*/
	right:10px;

	padding:10px 18px;
	background:#ffab00;
	font-size:15px;
	color:white;
	border-radius: 3px;

	text-decoration: none;

	transition: bottom 400ms ease;
}

.product__name{
	font-size:15px;
	text-align: left;
	margin-top:20px;
}

.pages-controller{
	display:flex;
	align-items: center;
}

.products-section__pages-controller{
	width:100%;
	padding:17px;
	box-sizing: border-box;
}

.pages-controller__previous-page{
	display:inline-block;
	padding-left:20px;
	font-size: 15px;
	text-decoration: none;
	color:black;

	background: url("/resources/img/arrow-left.png") no-repeat left;
	background-size: contain;
}

.pages-controller__products-pages{
	text-align: center;
	flex-grow:1;
}

.pages-controller__next-page{
	display:inline-block;
	padding-right:20px;
	font-size: 15px;
	text-decoration: none;
	color:black;

	background: url("/resources/img/arrow-right.png") no-repeat right;
	background-size: contain;
}