@font-face{
	font-family: "AwesomeFont_400";
	src:url("/resources/fonts/fa-brands-400.ttf");
}
@font-face{
	font-family: "LatoBold";
	src:url("/resources/fonts/Lato Bold.ttf");
}
@font-face{
	font-family: "LatoRegular";
	src:url("/resources/fonts/Lato Regular.ttf");
}

@font-face{
	font-family: "MerriweatherRegular";
	src:url("/resources/fonts/Merriweather Regular.ttf");
}


.font-LatoBold{
	font-family: LatoBold
}
.font-LatoRegular{
	font-family: LatoRegular
}
.font-Awesome{
	font-family: AwesomeFont_400;
}
.font-MerriweatherRegular{
	font-family: MerriweatherRegular;
}

*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
}

.wrapper-main-banner{
	width:100%;
	padding:20px 0;
	border-bottom: 1px solid #bfbfbf;
}

.main-banner{
	height:560px;
	border:1px solid white;
	display: flex;
}

.wrapper-main-banner__main-banner{
	margin:auto;
	max-width:1140px;
	width:100%;
}

.image-box{
	border:2px solid white;
	position:relative;
	flex-grow: 1;
	flex-basis: 0;
}

.image-box_row-container{
	display:flex;
	flex-direction: row;
}

.image-box_column-container{
	display:flex;
	flex-direction: column;
}

.image-box_fill-horizontal{
	width:100%;
}
.image-box_fill-vertical{
	height:100%;
}


.container{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	transition: transform 500ms;

	background-position: center;
	background-size: cover;
}

.image-box__container{
	width:100%;
	height:100%;
}

.container:hover{
	transform: scale(1.05,1.05);
	position:relative;
	z-index: 1;
}

.container_content-position_left{
	padding: 20px 20% 20px 2%;
	text-align: left;
}
.container_content-position_center{
	padding:20px 25%;
	text-align: center;
}

.container_background_1{

	background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/resources/img/banner_background1.png") no-repeat;
}
.container_background_2{
	background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/resources/img/banner_background2.png") no-repeat;
}
.container_background_3{
	background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/resources/img/banner_background3.png") no-repeat;
}
.container_background_4{
	background:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("/resources/img/banner_background4.png") no-repeat;
}

.container__title{
	font-size:45px;
	color:white;
}

.container__info{
	font-size:15px;
	color:white;
}

.container__link{
	font-size:15px;
	text-decoration: none;
	color:#ffab00;
}

.wrapper-bestsellers{
	width:100%;
	padding: 50px 0;
	border-bottom: 1px solid #bfbfbf;
}

.bestsellers{
	display:flex;
	flex-direction: column;
}

.wrapper-bestsellers__bestsellers{
	margin:auto;
	max-width:1140px;
	width:100%;
}

.bestsellers__title{
	font-size:30px;
	text-align: center;
}

.bestsellers__subtitle{
	font-size:13px;
	text-align: center;
}

.bestsellers__more-link{
	font-size:15px;
	text-decoration: none;
	color:black;
	text-align: center;
	padding:20px 60px;
	border:2px solid #333333;
	align-self: center;

	transition:background 200ms;
}

.bestsellers__more-link:hover{
	background: #333333;
	color:white;
}

.product-list{
	display:flex;
	justify-content: stretch;
}

.bestsellers__product-list{
	width:100%;
	margin:30px 0;
}

.product{
	width:290px;
	min-width: 200px;
	height:400px;
	padding:15px;
	background-clip:content-box;
}

.product:hover{
	border:1px solid #ffab00;
}

.product:hover .product__buy-link{
	bottom:10px;
}

.product-list__product{
	flex-grow: 1;
	flex-basis: 0;
}

.product__look{
	height:315px;
	width:100%;
	position:relative;
	background:#efefef;
	overflow-y: hidden;
}

.product__price{
	position:absolute;
	bottom:10px;
	left:10px;

	padding:10px 18px;
	background:#333333;
	font-size:15px;
	color:white;
	border-radius: 3px;

}

.product__buy-link{
	position:absolute;
	bottom:-50px;               /*WORKS ONLY IN COMPUTER*/
	right:10px;

	padding:10px 18px;
	background:#ffab00;
	font-size:15px;
	color:white;
	border-radius: 3px;

	text-decoration: none;

	transition: bottom 400ms ease;
}

.product__name{
	font-size:15px;
	text-align: left;
	margin-top:20px;
}