@font-face{
    font-family: "AwesomeFont_400";
    src:url("/resources/fonts/fa-brands-400.ttf");
}
@font-face{
    font-family: "LatoBold";
    src:url("/resources/fonts/Lato Bold.ttf");
}
@font-face{
    font-family: "LatoRegular";
    src:url("/resources/fonts/Lato Regular.ttf");
}

@font-face{
    font-family: "MerriweatherRegular";
    src:url("/resources/fonts/Merriweather Regular.ttf");
}


.font-LatoBold{
    font-family: LatoBold
}
.font-LatoRegular{
    font-family: LatoRegular
}
.font-Awesome{
    font-family: AwesomeFont_400;
}
.font-MerriweatherRegular{
    font-family: MerriweatherRegular;
}

.product{
    width:290px;
    min-width: 200px;
    height:400px;
    padding:15px;
    background-clip:content-box;
    overflow: hidden;
}

.product:hover{
    border:1px solid #ffab00;
}

.product:hover .product__remove-button{
    bottom:10px;
}

.product__look{
    height:315px;
    width:100%;
    position:relative;
    background:white;
    overflow-y: hidden;
}

.product__image{
    width:100%;
    height:100%;
    object-fit: contain;
}

.product__price{
    position:absolute;
    bottom:10px;
    left:10px;

    padding:10px 18px;
    background:#333333;
    font-size:15px;
    color:white;
    border-radius: 3px;

}

.product__remove-button{
    position:absolute;
    bottom:-60px;               /*WORKS ONLY IN COMPUTER*/
    right:10px;

    height:45px;
    width:45px;
    background: #ff625d url("/resources/img/trash-alt.svg") no-repeat center;
    background-size:30px;
    font-size:0;
    color:white;
    border:none;
    border-radius: 3px;

    cursor: pointer;


    transition: bottom 400ms ease;


}

.product__name{
    font-size:15px;
    text-align: left;
    margin-top:20px;
    text-decoration: none;
    color:black;
}