@font-face{
    font-family: "AwesomeFont_400";
    src:url("/resources/fonts/fa-brands-400.ttf");
}
@font-face{
    font-family: "LatoBold";
    src:url("/resources/fonts/Lato Bold.ttf");
}
@font-face{
    font-family: "LatoRegular";
    src:url("/resources/fonts/Lato Regular.ttf");
}

@font-face{
    font-family: "MerriweatherRegular";
    src:url("/resources/fonts/Merriweather Regular.ttf");
}


.font-LatoBold{
    font-family: LatoBold
}
.font-LatoRegular{
    font-family: LatoRegular
}
.font-Awesome{
    font-family: AwesomeFont_400;
}
.font-MerriweatherRegular{
    font-family: MerriweatherRegular;
}

.wrapper-footer{
    width:100%;
    background:#f9f9f9;
}

.footer{
    height:90px;
    display:flex;
    align-items: center;
}

.wrapper-footer__footer{
    margin:auto;
    max-width:1140px;
    width:100%;
}

.footer__about{
    font-size: 15px;
    text-decoration: none;
    color:black;
    flex-grow: 1;
}

.footer__contact{
    font-size: 15px;
    text-decoration: none;
    color:black;
    flex-grow: 1;
}

.footer__rights{
    font-size: 15px;
    color:#bdbdbd;
    flex-grow:20;
    text-align: right;
}