<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/categories.css">
    <script>
    // window.onload = function() {
    //     var filtersItems = document.getElementsByClassName("filters-item");
    //     for (var i = 0; i < filtersItems.length; i++) {
    //         var filterTitle = filtersItems[i].getElementsByClassName("filters-item__title")[0];
    //         // filterTitle.onclick=expandCheckBox(filterCheckboxBox);
    //         filterTitle.onclick=function(){
    //         	var filtersItem=filterTitle.closest(".filters-item");
    //         	var filterCheckboxBox=filtersItem.getElementsByClassName("filters-item__checkbox-box")[0];
    //         	filterCheckboxBox.classList.toggle("filters-item__checkbox-box_expanded");
    //         	console.log("filterTitle clicked");
    //         	console.log(filterTitle);
    //         	console.log(filterCheckboxBox);
    //         }
    //     }
    // }

    function expandBlock(filterTitle){
    	var filtersItem=filterTitle.closest(".filters-item");
        var filterCheckboxBox=filtersItem.getElementsByClassName("filters-item__checkbox-box")[0];
        filterTitle.classList.toggle("filters-item__title_expanded");
        filterCheckboxBox.classList.toggle("filters-item__checkbox-box_expanded");
        console.log("filterTitle clicked");
        // console.log(filterTitle);
        // console.log(filterCheckboxBox);
    }
    </script>
</head>

<body>
    <div class="wrapper-header">
        <header class="header wrapper-header__header">
            <div class="user header__user font-LatoBold">
                <a href="#" class="user__avatar"></a>
                <a href="#" class="user__login">Login</a>
                <a href="#" class="user__sign-up">Sign Up</a>
            </div>
            <a href="#" class="logo header__logo font-Awesome">
                <h1 class="logo__title">ELECTRON</h1>
                <h2 class="logo__subtitle">SHOP</h2>
            </a>
            <a href="#" class="cart header__cart font-LatoRegular">
                <div class="cart__bag">
                    <div class="cart__amount-items">12</div>
                </div>
                <div class="cart__total-price">$1200</div>
            </a>
        </header>
    </div><!-- wrapper-header -->
    <div class="wrapper-nav">
        <nav class="nav wrapper-nav__nav font-LatoRegular">
            <form action="" class="search-form nav__search-form">
                <input type="submit" class="search-form__button" value=""></input>
                <input type="text" class="search-form__text">
            </form>
            <div class="menu nav__menu">
                <a href="" class="menu__item">Men</a>
                <a href="" class="menu__item">Women</a>
                <a href="" class="menu__item">Computers</a>
                <a href="" class="menu__item">Microplates</a>
            </div>
            <div class="social-icons nav__social-icons">
                <a href="" class="social-icons__icon social-icons__icon_facebook"></a>
                <a href="" class="social-icons__icon social-icons__icon_instagram"></a>
                <a href="" class="social-icons__icon social-icons__icon_twitter"></a>
                <a href="" class="social-icons__icon social-icons__icon_linkedin"></a>
            </div>
        </nav>
    </div><!-- wrapper-nav -->
    <div class="wrapper-main">
        <main class="main wrapper-main__main">
            <div class="filters-section main__filters-section">
            	<p class="filters-section__header-title font-MerriweatherRegular">Filter by</p>
				<div class="filters-item filters-section__filters-item">
					<p class="filters-item__title font-LatoRegular" onclick="expandBlock(this)">Categories</p>
					<div class="filters-item__checkbox-box">
						<div class="filters-item__checkbox-wrapper">
							<label class="filters-item__checkbox-label">
								<input type="checkbox" class="filters-item__checkbox">
								Bottom
							</label>
						</div>
						<div class="filters-item__checkbox-wrapper">
							<label class="filters-item__checkbox-label">
								<input type="checkbox" class="filters-item__checkbox">
								Bottom
							</label>
						</div>
						<div class="filters-item__checkbox-wrapper">
							<label class="filters-item__checkbox-label">
								<input type="checkbox" class="filters-item__checkbox">
								Bottom
							</label>
						</div>
					</div>
				</div><!-- filters-item -->
				<div class="filters-item filters-section__filters-item">
					<p class="filters-item__title font-LatoRegular" onclick="expandBlock(this)" >Categories</p>
					<div class="filters-item__checkbox-box">
						<div class="filters-item__checkbox-wrapper">
							<label class="filters-item__checkbox-label">
								<input type="checkbox" class="filters-item__checkbox">
								Bottom
							</label>
						</div>
						<div class="filters-item__checkbox-wrapper">
							<label class="filters-item__checkbox-label">
								<input type="checkbox" class="filters-item__checkbox">
								Bottom
							</label>
						</div>
						<div class="filters-item__checkbox-wrapper">
							<label class="filters-item__checkbox-label">
								<input type="checkbox" class="filters-item__checkbox">
								Bottom
							</label>
						</div>
					</div>
				</div><!-- filters-item -->
            </div><!-- filters-section -->
            <div class="products-section main__products-section">
                <div class="products-nav products-section__products-nav">
                    <p class="products-nav__found-products font-MerriweatherRegular">102 Products Found</p>
                    <p class="products-nav__sort-title">Sort by</p>
                    <select class="products-nav__sort-select">
                        <option value="First">First</option>
                        <option value="First">First</option>
                        <option value="First">First</option>
                    </select>
                    <ul class="products-pages products-nav__products-pages">
                        <li class="products-pages__item"><a href="#" class="products-pages__link">1</a></li>
                        <li class="products-pages__item"><a href="#" class="products-pages__link products-pages__link_selected">2</a></li>
                        <li class="products-pages__item"><a href="#" class="products-pages__link">3</a></li>
                        <li class="products-pages__item"><a href="#" class="products-pages__link">4</a></li>
                    </ul>
                </div><!-- products-nav -->
                <div class="products-list main__products-list">
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                    <div class="product products-list__product">
                        <div class="product__look">
                            <p class="product__price">$100</p>
                            <a href="#" class="product__buy-link">Shop now</a>
                        </div>
                        <p class="product__name font-MerriweatherRegular">Some product</p>
                    </div>
                </div><!-- products-list -->
                <div class="pages-controller products-section__pages-controller">
                	<a href="" class="pages-controller__previous-page font-LatoRegular">Previous</a>
                	<ul class="products-pages pages-controller__products-pages">
                        <li class="products-pages__item"><a href="#" class="products-pages__link">1</a></li>
                        <li class="products-pages__item"><a href="#" class="products-pages__link products-pages__link_selected">2</a></li>
                        <li class="products-pages__item"><a href="#" class="products-pages__link">3</a></li>
                        <li class="products-pages__item"><a href="#" class="products-pages__link">4</a></li>
                    </ul>
                	<a href="" class="pages-controller__next-page font-LatoRegular">Next</a>
                </div>
            </div><!-- products-section -->
        </main>

    </div><!-- wrapper-main -->
    <div class="wrapper-footer">
        <footer class="footer wrapper-footer__footer">
            <a href="" class="footer__about">About us</a>
            <a href="" class="footer__contact">Contact us</a>
            <p class="footer__rights">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, animi.</p>
        </footer>
    </div><!-- wrapper-footer -->
</body>

</html>