<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/product.css">
</head>

<body>
    <div class="wrapper-header">
        <header class="header wrapper-header__header">
            <div class="user header__user font-LatoBold">
                <a href="#" class="user__avatar"></a>
                <a href="#" class="user__login">Login</a>
                <a href="#" class="user__sign-up">Sign Up</a>
            </div>
            <a href="#" class="logo header__logo font-Awesome">
                <h1 class="logo__title">ELECTRON</h1>
                <h2 class="logo__subtitle">SHOP</h2>
            </a>
            <a href="#" class="cart header__cart font-LatoRegular">
                <div class="cart__bag">
                    <div class="cart__amount-items">12</div>
                </div>
                <div class="cart__total-price">$1200</div>
            </a>
        </header>
    </div><!-- wrapper-header -->
    <div class="wrapper-nav">
        <nav class="nav wrapper-nav__nav font-LatoRegular">
            <form action="" class="search-form nav__search-form">
                <input type="submit" class="search-form__button" value=""></input>
                <input type="text" class="search-form__text">
            </form>
            <div class="menu nav__menu">
                <a href="" class="menu__item">Men</a>
                <a href="" class="menu__item">Women</a>
                <a href="" class="menu__item">Computers</a>
                <a href="" class="menu__item">Microplates</a>
            </div>
            <div class="social-icons nav__social-icons">
                <a href="" class="social-icons__icon social-icons__icon_facebook"></a>
                <a href="" class="social-icons__icon social-icons__icon_instagram"></a>
                <a href="" class="social-icons__icon social-icons__icon_twitter"></a>
                <a href="" class="social-icons__icon social-icons__icon_linkedin"></a>
            </div>
        </nav>
    </div><!-- wrapper-nav -->
    <div class="wrapper-main">
        <main class="main wrapper-main__main">
            <div class="product-header main__product-header">
            	<p class="product-header__product-name font-MerriweatherRegular">Fashion product name</p>
            	<p class="product-header__product-category font-LatoRegular">Some category</p>
            </div>

            <div class="column main__column column_left">
            	<section class="image-section column__image-section">
            		<div class="image-section__picture image-section__picture_big"></div>
            		<div class="image-section__picture"></div>
            		<div class="image-section__picture"></div>
            	</section><!-- image-section  -->
            	<section class="comment-section column__comment-section">
            		<p class="comment-section__comments-amount font-MerriweatherRegular">24 Comments</p>
            		<form class="comment-form comment-section__comment-form">
            			<label for="comment-form__textarea" class="comment-form__title font-LatoRegular">Comment</label>
            			<textarea name="" id="comment-form__textarea" cols="30" rows="10" class="comment-form__textarea"></textarea>
            			<input type="submit" class="comment-form__post-comment font-LatoRegular">
            		</form>

            		<div class="single-comment comment-section__single-comment">
            			<p class="single-comment__name font-MerriweatherBold">Amanda Charter</p>
            			<p class="single-comment__text font-LatoRegular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, perferendis.aecati consectetur nihil recusandae beatae blanditiis tempore veniam libero minima!</p>
            			<p class="single-comment__date">1 month ago</p>
            		</div>
            		<div class="single-comment comment-section__single-comment">
            			<p class="single-comment__name font-MerriweatherBold">Amanda Charter</p>
            			<p class="single-comment__text font-LatoRegular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, perferendis.aecati consectetur nihil recusandae beatae blanditiis tempore veniam libero minima!</p>
            			<p class="single-comment__date">1 month ago</p>
            		</div>
            	</section><!-- comment-section -->
            </div>
            <div class="column main__column column_right">
            	<section class="column__section column__section_description">
            		<p class="section__title_big font-LatoBold">$500</p>
            	</section>
            	<section class="column__section column__section_product-detail">
            		<p class="section__title font-MerriweatherRegular">Product detail</p>
            		<p class="section__text font-LatoRegular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eum, porro non recusandae atque velit, a dolor earum autem, alias possimus distinctio excepturi. Neque magnam obcaecati optio sunt sapiente, libero, beatae ipsa quisquam dolores a accusamus, doloribus laborum quod ab!</p>
            	</section>
            	<section class="action-buttons column__action-buttons">
            		<a href="" class="action-buttons__button action-buttons__button_buy font-LatoBold">Buy now</a>
            		<a href="" class="action-buttons__button action-buttons__button_add-cart font-LatoBold">Add to cart</a>
            	</section>
            	<!-- <section class="column__section column__section_recommended-products">
            		<p class="section__title font-MerriweatherRegular">You may like</p>
            		<div class="recommended-products__wrapper">
            			
            		</div>
            	</section> -->
            </div>
        </main>
    </div>
</body>

</html>